In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    " name" : ['Vishal', 'Santosh', 'Shubham'],
    "Marks" : [92,89,99],
    "City" : ['Raniganj', 'Kankarsole', 'Neamatpur']
    
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

      name  Marks        City
0   Vishal     92    Raniganj
1  Santosh     89  Kankarsole
2  Shubham     99   Neamatpur

In [5]:
df.to_csv('friends_without_index.csv', index=False)

In [6]:
df.head(5)

      name  Marks        City
0   Vishal     92    Raniganj
1  Santosh     89  Kankarsole
2  Shubham     99   Neamatpur

In [7]:
df.tali(2)

AttributeError: 'DataFrame' object has no attribute 'tali'

In [ ]:
df.tail(2)

In [ ]:
df.describe()

In [ ]:
train = pd.read_csv('train.csv')

In [ ]:
vishal = pd.read_csv(train.csv)

In [ ]:
vishal = pd.read_csv(train.csv)

In [ ]:
vishal = pd.read_csv('train.csv')

In [ ]:
vishal = pd.read_csv('train.csv')

In [ ]:
vishal = pd.read_csv('friends.csv')

In [ ]:
vishal

In [ ]:
vishal = pd.read_csv("friends.csv")

In [ ]:
vishal

In [ ]:
suraj = pd.read_csv("train.csv")

In [ ]:
vishal['City'][0]='Bengluru'

In [ ]:
vishal['City'][0]="Bengluru"

In [ ]:
friends['City'][0]="Bengluru"

In [ ]:
vishal['Marks'][0]=54

In [ ]:
vishal.is_copy = false

In [ ]:
vishal.is_copy = False

In [ ]:
vishal['Marks'][0]=54

In [ ]:
vishal

In [ ]:
vishal.to_csv(friends.csv)

In [ ]:
vishal.to_csv('friends.csv')

In [ ]:
friends

In [ ]:
vishal

In [ ]:
friends.index =[ 'First', 'Second', 'Third', 'Fourth']

In [ ]:
friends